// ---Variables Color--- 
$colorCesped:  rgb(22, 108, 28);
$colorH2O: rgb(34, 179, 236);
$color1:  rgb(253, 254, 254);
$color2:  rgb(236, 51, 34);

// ----Variables de background----
$colorFondo:  rgba(204, 248, 203, 0.898);