// ---Variables Color--- 
$colorCesped:  rgb(22, 108, 28);
$colorH2O: rgb(34, 179, 236);
$color1:  rgb(253, 254, 254);
$color2:  rgb(236, 51, 34);
$color3:  rgba(1, 74, 141, 0.935);


// ----Variables de background----
$colorfondoprincipal:  rgba(204, 248, 203, 0.898);
$colorfondodos:  rgba(7, 20, 7, 0.898);